[core]
	editor = vim

[user]
	name = {{ git_username }}
	email = {{ git_email }}

[init]
	defaultBranch = main

[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	log = auto

